{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- <script src="{% static "coffee_finder/favourites.js" %}"></script> -->
    <link rel="stylesheet" type="text/css" href="{% static "coffee_finder/favourites.css" %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Coffee Finder Favourites Page</title>
  </head>
  <body class="body">
      <div class="menu">
        <div class="menu1">
          <h1>Favourites</h1>
        </div>
        <div class="menu2">
          <div class="username">
            <div><strong>Username: </strong>{{ username }}</div>
            <div><strong>Location: </strong>{{ location }}</div>
          </div>
          <div onclick="location.href='{% url "coffee_finder:index" %}';" class="button" style="cursor: pointer;">
            Main Page
          </div>
        </div>
      </div>
    <div class="body1">
      <div class="container">
        {% csrf_token %}
        {% for favourite in favourites %}
        <div class="content1">
          <div id="{{ favourite.name }}"><img onclick="clicked(`{{ favourite.place_id }}`);" class="icon" src="{% static "coffee_finder/x-square.svg" %}" alt=""></div>
          <div onclick="location.href='{% url "coffee_finder:place" favourite.name %}';" class="content">
            <div class="photowrap">
              <img class="photo" src="{{ favourite.photo }}" alt="coffee_finder/kahawa.jpg">

            </div>
            <div class="description">
              <div><strong>Name: </strong id="name">{{ favourite.name }}</div>
              <div><strong>Adress: </strong>{{ favourite.formatted_address }}</div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <script src="{% static "coffee_finder/favourites.js" %}"></script>
  </body>
</html>
