{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static "coffee_finder/master.css" %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Find yourself in coffee</title>
  </head>
  <body class="body">
    <div>
      <div class="menu">
        <div class="menu1">
          <div class="headers">
            <h1 class="header1">Coffee Finder</h1>
            <h3 class="header2">Find yourself in coffee</h3>
          </div>
          <div class="input">
            {% block content %}
            <form method="POST">
                {% csrf_token %}
                <label for="location">Location:</label>
                <input type="text" name="location">
                <button type="submit" name="send">Send</button>
            </form>
            {% endblock %}
          </div>
        </div>
        <div class="username">
          <div><span class="bold">Username:</span> {{ username }}</div>
          <div><span class="bold">Location:</span> {{ location }}</div>
          <div onclick="location.href='{% url "coffee_finder:favourites" %}';" class="button" style="cursor: pointer;">Favourites</div>
        </div>
      </div>
      <div class="content grow" id="content">
        <div class="photowrap">
          <div class="left" id="left" onclick="mouseClickLeft()"></div>
          <div class="right" id="right" onclick="mouseClickRight()"></div>
          <div class="photo">
            <img class="image" src="{{ photo }}" alt="{% static "coffee_finder/kahawa.jpg" %}">
            <!-- <div class="image">{{ photo }}</div> -->
          </div>
        </div>

        <div class="description">
          <div><span class="bold">Name:</span> <span id="name">{{ name }}</span></div>
          <div><span class="bold">Address:</span> <span id="formatted_address">{{ formatted_address }}</span></div>
          <div><span class="bold">Is serving coffee now:</span> <span id="isopen">{{ isopen }}</span></div>
        </div>
      </div>
    </div>
    <script src="{% static "coffee_finder/swipe.js"%}"></script>
  </body>
</html>
