{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static "coffee_finder/master.css" %}">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
    <title>Find yourself in coffee</title>
  </head>
  <body class="body">
    <div>
      <div class="menu">
        <div class="headers">
          <h1 class="header1">Coffee Finder</h1>
          <h3 class="header2">Find yourself in coffee</h3>
        </div>
        <div class="input">
          {% block content %}
          <form method="POST">
              {% csrf_token %}
              <label for="location">Location:</label>
              <input type="text" name="location">
              <input type="submit">
          </form>
          {% endblock %}
        </div>
      </div>
      <div class="content grow" id="content">
        <div class="photowrap">
          <div class="left" id="left" onclick="mouseClickLeft()">

          </div>
          <div class="right" id="right" onclick="mouseClickRight()">

          </div>
          <div class="photo">
            <img class="image" src="{% static "coffee_finder/kahawa.jpg" %}" alt="">
          </div>
        </div>

        <div class="description">
          <div>Name:<p>{{ name }}</p></div>
          <p>Placeholder</p>
          <p>Placeholder</p>
        </div>
      </div>
    </div>
    <script src="{% static "coffee_finder/swipe.js"%}"></script>
  </body>
</html>
