{% extends 'coffee_finder/signup.html' %}
{% block content %}
<h2>LOGIN</h2>
    <form method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username">
        <label for="password">Password:</label>
        <input type="password" name="password">
        <input type="submit" name="" value="login">
    </form>
    <div class="">
      <a href="{% url "coffee_finder:signup" %}">Redirect to sign up page</a>
    </div>
{% endblock %}
