{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static "coffee_finder/place.css" %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>{{ object.name }}</title>
  </head>
  <body>
    <div class="menu">
      <div class="menu1">
        <h1>{{ object.name }}</h1>
      </div>
      <div class="menu2">
        <div class="username">
          <div><strong>Username: </strong>{{ username }}</div>
          <div><strong>Location: </strong>{{ location }}</div>
        </div>
        <div onclick="location.href='{% url "coffee_finder:favourites" %}';" class="button" style="cursor: pointer;">
          Favourites
        </div>
      </div>
    </div>
    <div class="content">
      <div class="photowrap">
        <div class="photo">
          <img class="image" src="{{ photo }}" alt="{% static "coffee_finder/kahawa.jpg" %}">
        </div>
      </div>
      <div class="description">
        <div><strong>Name: </strong><span id="name">{{ object.name }}</span></div>
        <div><strong>Address: </strong><span id="formatted_address">{{ object.formatted_address }}</span></div>
        <div><strong>Rating: </strong><span>{{ object.rating }}</span></div>
        <div><strong>Schedule: </strong>{% for hour in schedule %}<div>{{ hour }}</div>{% endfor %}</div>
        <div><strong>Review: </strong><span>{{ review.text }}</span></div>
        <div><strong>Review's author: </strong><span>{{ review.author_name }}</span>
        <div><strong>Is serving coffee now:  </strong><span id="isopen">{{ isopen }}</span></div>
        <div class="map">
        <iframe width="600" height="400" frameborder="0" style="border:0"
        src={{ map }} allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </body>
</html>
