{% load static %}
{% block content %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static "coffee_finder/login.css" %}">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <title>Coffee Finder Signup Page</title>
</head>
<body class="body">
  <div class="wrap">
    <div class="login">
      <h2 class="header">SIGN UP</h2>
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
          <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
              <small>{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
        <button type="submit" class="button">Sign up</button>
      </form>
    </div>
  </div>
</body>
{% endblock %}
